@using SistemaNominaADC.Presentacion.Security
@using SistemaNominaADC.Presentacion.Services.Auth

@inject NavigationManager NavigationManager

@* @implements IDisposable
@inject NavigationManager NavigationManager
 *@

@if (SessionService.IsAuthenticated)
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Sistema Nómina ADC</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">

            <!-- HOME -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu"></span>
                    Home
                </NavLink>
            </div>

            <!-- MANTENIMIENTOS -->
            <div class="nav-item px-3">
                <a class="nav-link" style="cursor:pointer" @onclick="ToggleSubMenu">
                    <span class="bi bi-list-nested-nav-menu"></span>
                    <span class="flex-grow-1">Mantenimientos</span>
                    <i class="bi @(expandSubMenu ? "bi-chevron-down" : "bi-chevron-right")"></i>
                </a>
            </div>

            @if (expandSubMenu && objetosMenu != null)
            {
                <div class="ps-3">
                    @foreach (var objeto in objetosMenu)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link"
                                     href="@($"/mantenimientos/{objeto.NombreEntidad.ToLower()}s")">
                                <span class="bi bi-dot"></span>
                                @objeto.NombreEntidad
                            </NavLink>
                        </div>
                    }
                </div>
            }

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mantenimientos/departamentos">
                    <i class="bi bi-building"></i> Departamentos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mantenimientos/puestos">
                    <i class="bi bi-diagram-3"></i> Puestos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mantenimientos/empleados">
                    <i class="bi bi-people"></i> Empleados
                </NavLink>
            </div>
            <div class="nav-item px-3 mt-2">
                <div class="nav-link text-white-50 small"><strong>CONFIGURACIÓN</strong></div>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mantenimientos/estados">
                    <i class="bi bi-icon bi-gear-wide-connected"></i> Estados
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mantenimientos/grupos">
                    <i class="bi bi-icon bi-collection-fill"></i> Grupos de Estados
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mantenimientos/objetos">
                    <i class="bi bi-icon bi-box-seam-fill"></i> Objetos del Sistema
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mantenimientos/roles">
                    <i class="bi bi-shield-lock-fill"></i> Roles
                </NavLink>
            </div>

            <hr class="text-white-50" />

            <!-- USUARIO -->
            <div class="nav-item px-3 text-white-50 small">
                Usuario:
                <strong>@SessionService.UserName</strong>
            </div>

            <!-- LOGOUT -->
            <div class="nav-item px-3 mt-2">
                <button class="nav-link btn btn-link text-start"
                        @onclick="Logout">
                    <span class="bi bi-arrow-bar-left-nav-menu"></span>
                    Cerrar sesión
                </button>
            </div>

        </nav>
    </div>
}



@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sistema Nomina ADC</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="ToggleSubMenu" style="cursor: pointer;">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                <span class="flex-grow-1">Mantenimientos</span>
                <i class="bi bi-icon @(expandSubMenu ? "bi-chevron-down" : "bi-chevron-right")"></i>
            </NavLink>
        </div>

        @if (expandSubMenu)
        {
            <div class="ps-3">
                @if (objetosMenu != null)
                {
                    @foreach (var objeto in objetosMenu)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="@($"/mantenimientos/{objeto.NombreEntidad.ToLower()}s")">
                                <span class="bi bi-icon bi-dot" aria-hidden="true"></span> @objeto.NombreEntidad
                            </NavLink>
                        </div>
                    }
                }
            </div>
        }

        <div class="nav-item px-3 mt-2">
            <div class="nav-link text-white-50 small"><strong>CONFIGURACIÓN</strong></div>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mantenimientos/estados">
                <i class="bi bi-icon bi-gear-wide-connected"></i> Estados
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mantenimientos/grupos">
                <i class="bi bi-icon bi-collection-fill"></i> Grupos de Estados
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mantenimientos/objetos">
                <i class="bi bi-icon bi-box-seam-fill"></i> Objetos del Sistema
            </NavLink>
        </div>

        <hr class="text-white-50" />

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div> *@